header {
    height: 350px;
}
.hero_section {
    font-size: 25px;
    height: 80px;
}
.fa-bars {
    display: none;
}
.navigation_bar {
    width: 70%;
    height: 80px;
    margin: 0;
    background-color: black;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navigation_bar li {
    display: inline-block;
    list-style: none;
    margin-left: 8px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 14px;
}
.navigation_bar ul li:last-child {
    margin-right: 10px;
}
.fa-pagelines {
    margin-left: 10px;
}
.header_details {
    margin-top: 20px;
    text-align: center;
    padding: 0;
}
.header_details h1{
    font-size: 45px;
}
.header_details h2{
    font-size: 25px;
}
.header_details P{
    font-size: 18px;
}
.header_details button {
    margin-top: 15px;
    padding: 15px 20px;
    border-radius: 10px;
}
/*-----------------------main---------------*/
.main_intro {
    margin-top: 25px;
    padding: 10px 0px 6px 0px;
}
.main_intro p {
    font-size: small;
}
.main_intro h2 {
    font-size: 40px; 
}
.main_intro h3{
    font-size: 20px;
}
/*---------------first section-------------------*/
.resources h3 {
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 25px;
}
.resources_paragraph {
    font-size: large;
    font-weight: normal;
}
.resources_paragraph p:first-child {
    color: orange;
    font-size: 15px;
}
/*---changing the values for the grid container and its children in the first section---*/
.container_resources {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
}
/*---------------second section-------------*/
.deep_learning_container {
    flex-direction: row;
    width: 100%;
    height: 400px;
}
.deep_learning_container div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    /* margin-top: 0; */
    /* padding: 8px 0px 8px 0px; */
}
.deep_learning h3 {
    font-size: 25px;
    margin-top: 40px;
}

.deep_learning_container h4{
    font-size: larger;
    margin-bottom: 15px;
}
.deep_learning_container p{
    font-size:larger;
    margin-top: 4px;
}
.deep_learning_container img {
    width: 35%;
    height: auto;
}
/*-------------------footer-----------------------*/
.footer_box p{
    font-size: 15px;  
}
.footer_box li{
    display: block;
    color: white;
    font-size: 10px;
}
.footer_box span {
    display: none;
}
.footer_box {
    padding: 15px;
    gap: 15px;
}
.footer_child1 {
    grid-column-start: span 2;
}
.footer_child2 {
    grid-column-start: span 2;
}
.footer_child3 {
    grid-column-start: span 2;
}
.footer_child4 {
    grid-column-start: span 2
}
.footer_child5 {
    grid-column-start: span 6;
}
.footer_child6 {
    grid-column-start: span 2;
}

